.pagination{
    margin-top: 20px;
    display: flex;
    direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

 .size-selector select{
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-right: 10px;
    height: 30px;
    background: rgb(161, 167, 167);
}


button{
    background-color: rgb(3, 3, 3);
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    height: 30px;
}