<h1>
  Available currencies 
</h1>

<div class='catalog'>
    <div class="currency-info" *ngFor='let currencyInfo of currenciesData$ | async '>
      <app-display-currency [currency]='currencyInfo'></app-display-currency>
    </div>
</div>


<div class="pagination">

  <div class="size-selector">
    <select #newSize (change)="onChangePageSize(newSize.value)">
      <option *ngFor="let size of supportedPageSizes"  >{{size}}</option>
    </select>
  </div>
  
  <div class="page">
    <button *ngIf='links.first' (click)='selectPage(1)'> << </button>
    <button *ngIf='links.prev' (click)='selectPage(selectedPage-1)'> Previous </button>
    <button *ngFor='let pageNumber of buttonsPage' (click)='selectPage(pageNumber)'>{{pageNumber}}</button>
    <button  *ngIf='links.next'(click)='selectPage(selectedPage+1)'> Next </button>
    <button *ngIf='links.last' (click)='selectPage(pages)'> >> </button>
  </div>
</div>


 